html,
body {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: #1e1e1e;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  text-align: left;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
}
h2 {
  font-size: 1em;
  font-weight: 200;
  text-align: left;
  color: white;
  position: absolute;
  left: 10%;
  top: 90%;
}


#container {
  position: absolute;
  left: 50%;
  top: 50%;
}
