body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #1e1e1e;
  scroll-snap-type: none;
  cursor: none;
}

.light-mode {
  background-color: white;
  color: #1e1e1e;
}

.light-mode .bar h1 {
  z-index: 2;
  color: #1e1e1e;
}

.light-mode .bottombar {
  background-color: white;
}

.light-mode h1 {
  color:#1e1e1e;
}

.light-mode a {
  color:#1e1e1e;
}

.light-mode .running-text {
  color:#1e1e1e;
}

.light-mode p {
  color: #1e1e1e;
}

p::selection {
  color: greenyellow;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: yellowgreen;
}

#cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  z-index: 5;
}

.x:hover {
  color:greenyellow;
  transition: 0.5;
}

.x::selection {
  color:greenyellow;
}

@keyframes runText {
  0% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: color: #1e1e1e;
  display: flex;
  align-items: center;
  white-space: wrap;
  z-index: 2;
}

.bar:hover{
  background-color:  rgb(224, 224, 224);
  transition: .2s;
}

.bar:hover h1 {
  color:#1e1e1e;
  transition: .1s;
}

h1.running-text {
  font-size: 1em;
  font-weight: 100;
  color: rgb(224, 224, 224);
  white-space: nowrap;
  margin: 0;
  animation: runText 25s linear infinite;
}

.bottombar {
  height: 30px;
  position: fixed;
  background-color:#1e1e1e;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index:3;

}

.seconds {
  line-height: 30px;
  align-items: center;
  margin-left: 10px;
  color: rgb(111, 111, 106);
}

.contactos {
  align-items: center;
  column-gap: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 8;
  margin-right: 5px;

}

a {
  text-align: center;
  text-decoration: none;
  color: rgb(111, 111, 106);
  font-size: 1em;
  padding:5px;
}

a:hover {
  color: yellowgreen;
}

.grid {
  margin-top: 35px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:none;
  grid-row-gap: 5px;
  grid-column-gap:5px;
}

img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

img:hover {
  opacity: 1;
  transition: 0.3s;
}

.second {
  color: white;
  font-size: 30px;
  margin: auto;
  text-align: center;
  height: 90vh;
}
.second p {
  padding-top: 45vh;
}

@media only screen and (max-width: 768px) {

.grid {
  grid-template-columns: repeat(1, 1fr);
}

img {
  opacity: 1;
}

.bar {
  position: fixed;
}

  @keyframes runText {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-150%);
    }
  }

  .bottombar {
    display: block;
    padding-bottom: 10px;
  }
  .contactos {
    color: greenyellow;
  }

  .second p {
    padding: 5px;
  }

  #cursor {
    display; none;
  }

}
